<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="director/fragments::head"></th:block>
<body class="animsition" th:object="${director}">
    <div class="page-wrapper">
		<th:block th:replace="director/fragments::headerDesktop"></th:block>
		<th:block th:replace="director/fragments::headerMobile"></th:block>
		<th:block th:replace="director/fragments::subHeaderMobile"></th:block>

        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">
            <!-- BREADCRUMB-->
            <section class="au-breadcrumb2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="au-breadcrumb-content">
                                <div class="au-breadcrumb-left">
                                    <span class="au-breadcrumb-span">Estás aquí:</span>
                                    <ul class="list-unstyled list-inline au-breadcrumb__list">
                                        <li class="list-inline-item active">
                                            <a href="#">Inicio</a>
                                        </li>
                                        <li class="list-inline-item seprate">
                                            <span>/</span>
                                        </li>
                                        <li class="list-inline-item">Grados</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BREADCRUMB-->

            <!-- STATISTIC-->
            <section class="statistic-chart">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <!-- TOP CAMPAIGN-->
                            <div class="top-campaign">
                                <h3 class="title-3 m-b-30">Grados</h3>
                                <div class="table-responsive">
                                    <table class="table table-top-campaign">
                                        <tbody>
                                            <tr th:each="grado:${grados}">
                                                <td th:text="${grado.id}">1. Australia</td>
                                                <td th:text="${grado.grado}">$70,261.65</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END TOP CAMPAIGN-->
                        </div>
                        <div class="col-md-6 col-lg-4">

                        </div>
                    </div>
                </div>
            </section>
            <!-- END STATISTIC CHART-->



			<th:block th:replace="director/fragments::copyright"></th:block>
        </div>
    </div>
	<th:block th:replace="director/fragments::endScripts"></th:block>
</body>

</html>
<!-- end document-->